input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.Input input {
  background-color: inherit;
  border: none;
  color: white;
  text-align: center;
  height: 100%;
  font-size: 20px;
}

.Input input:focus {
  background-color: inherit;
  border: none;
  box-shadow: none;
  color: lime;
}
.Input input:read-only {
  background-color: inherit;
  border: none;
  box-shadow: none;
  cursor: default;
}
.Input .col-2:hover {
  cursor: pointer;
}
.Input .col-2 {
  overflow: hidden;
  padding: 0;
}
.Input img {
  width: 100%;
}
