.Panel {
  background-color: rgb(65, 66, 66);
  border-radius: 5px;
  padding: 10px 0 10px 0;
}
.inner h2 {
  font-size: 18px;
  margin-bottom: 2%;
}
.Rate {
  margin: 1.5em;
}
.Selects {
  margin-top: 0.5em;
}
